# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\UC_Merced\kinesis-log4j2-appender\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
